@charset "UTF-8";
:root {
  --gris-1: #9B9B9A;
  --gris-2: #666666;
  --gris-3: #665D54;
  --gris-4: #353D40;
  --gris-5: #7D7D7D;
  --gris-6: #D6D4D4;
  --gris-7: #E8E8E7;
  --color-fondo: #E6E6E5;
  --negro-1: #121212;
  --naranja-1: #EA8A19;
  --fondo-seccion: #FFFFFF;
}

html,
body {
  background-color: var(--color-fondo);
  transition: background-color 0.3s ease, color 0.4s ease;
}

p,
li,
a,
span {
  color: var(--gris-1);
  font-family: "CenturyGothic", Arial, sans-serif;
  font-size: 12px;
}

.orange {
  color: var(--naranja-1);
}

h1 {
  font-family: "CenturyGothic", Arial, sans-serif;
  color: var(--gris-4);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "CenturyGothic", Arial, sans-serif;
  color: var(--gris-5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../../public/fonts/century-gothic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ArialMT";
  src: url("../../public/fonts/ArialMT.eot");
  src: url("../../public/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/ArialMT.woff2") format("woff2"), url("../../public/fonts/ArialMT Regular.ttf") format("truetype"), url("../../public/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
html:
<!--
            <span class="icon-twitter"></span>
            <span class="icon-facebook"></span>
            <span class="icon-linkedin"></span>
-->
@font-face {
  font-family: "fontello";
  src: url('../../public/fonts/fontello.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;


  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;


  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  text-transform: none;
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric 
  /* remove if not needed 
  margin-left: .2em;


  font-size: 120%;

  /* Font smoothing. That was taken from TWBS 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-facebook:before {
  content: '\f30e';
  color: #0000ff;
}

/* '' 
.icon-twitter:before {
  content: '\f314';
  color: #00ffff;
  background-color: #00f;

}

/* '' 
.icon-linkedin:before {
  content: '\f31b';
  color: #0000ff;
}

/* '' */
button#CambioTema {
  padding: 8px 16px;
  margin-right: 20px;
  border: 1px solid var(--gris-5);
  border-radius: 4px;
  background-color: var(--gris-4);
  cursor: pointer;
}
button#CambioTema:hover {
  border: 1px solid var(--naranja-1);
}
button#CambioTema .icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

html.dark-mode button#CambioTema {
  background-color: var(--gris-6);
  color: var(--gris-1);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}
.footer hr {
  width: 100%;
  margin: 0 auto 20px auto;
}
.footer .navigation.footnav ul {
  list-style: none;
  display: flex;
}
.footer .navigation.footnav ul li a {
  font-size: 14px;
}
.footer .navigation.footnav ul li a.active {
  color: var(--gris-5);
}
.footer .navigation.footnav ul li:not(:last-child)::after {
  content: " | ";
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .navigation.footnav {
    margin: 0 auto;
  }
  p {
    margin: 20px auto;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headnav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.header .headnav ul li a {
  font-size: 14px;
  color: var(--gris-2);
}
.header .headnav ul li a.active {
  background: linear-gradient(to bottom, #fdb76f 0%, #f89a4e 50%, #f17c2e 100%);
  padding: 10px 24px;
  border-radius: 5px;
  color: #FFF;
  border: 1px solid var(--gris-2);
}

/* Elementos invisibles por defecto */
.menu-toggle-checkbox {
  display: none;
}

.menu-toggle-label {
  display: none;
}

.menu-overlay {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    position: relative;
  }
  .header .navigation.headnav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    background: linear-gradient(var(--fondo-seccion) 15%, var(--color-fondo) 100%);
    padding: 80px 0 20px;
    flex-direction: column;
    border-left: 1px solid var(--gris-4);
  }
  .header .navigation.headnav #CambioTema {
    margin: 0 auto;
    padding: 15px;
  }
  .header .headnav ul {
    position: relative;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .header .headnav ul li {
    width: 80%;
    border-bottom: 1px solid var(--gris-4);
  }
  .header .headnav ul li a {
    display: block;
    padding: 18px 30px;
  }
  .header .headnav ul li a.active {
    background: linear-gradient(to right, #fdb76f, #f17c2e);
    border-radius: 0;
    border: none;
    padding: 18px 30px;
  }
  .menu-toggle-label {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1002;
  }
  .menu-toggle-label span {
    display: block;
    width: 30px;
    height: 3px;
    background: var(--gris-4);
    margin: 6px auto;
    border-radius: 2px;
  }
  .menu-toggle-checkbox:checked ~ .navigation.headnav {
    right: 0;
  }
}
#home.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#home.grid .Banner {
  grid-area: 1/1/2/4;
}
#home.grid .Main {
  grid-area: 1/4/2/7;
}
#home.grid .cardweb {
  grid-area: 2/1/3/3;
}
#home.grid .cardsol {
  grid-area: 2/3/3/5;
}
#home.grid .cardtest {
  grid-area: 2/5/3/7;
}
#home.grid .info {
  grid-area: 3/1/4/5;
}
#home.grid .form {
  grid-area: 3/5/4/7;
}

main#Clients {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
main#Clients .clients-section {
  grid-column: 1;
  grid-row: 1/3;
}
main#Clients .clients-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
}
main#Clients .testimonials-section {
  grid-column: 2;
  grid-row: 1;
}

main#Contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #home.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #home.grid .Banner {
    grid-area: 1/1/2/3;
  }
  #home.grid .Main {
    grid-area: 2/1/3/3;
  }
  #home.grid .cardweb {
    grid-area: 3/1/4/2;
  }
  #home.grid .cardsol {
    grid-area: 3/2/4/3;
  }
  #home.grid .cardtest {
    grid-area: 4/1/5/2;
  }
  #home.grid .info {
    grid-area: 5/1/6/3;
  }
  #home.grid .form {
    grid-area: 6/1/7/3;
  }
  main#Clients {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main#Clients .clients-section {
    grid-area: 1/1/2/2;
  }
  main#Clients .testimonials-section {
    grid-area: 2/1/3/2;
  }
}
@media screen and (max-width: 768px) {
  #home.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #home.grid .Banner {
    grid-area: 1/1/2/2;
  }
  #home.grid .Main {
    grid-area: 2/1/3/2;
  }
  #home.grid .cardweb {
    grid-area: 3/1/4/2;
  }
  #home.grid .cardsol {
    grid-area: 4/1/5/2;
  }
  #home.grid .cardtest {
    grid-area: 5/1/6/2;
  }
  #home.grid .info {
    grid-area: 6/1/7/2;
  }
  #home.grid .form {
    grid-area: 7/1/8/2;
  }
  main#Clients {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main#Clients .clients-section {
    grid-area: 1/1/2/2;
  }
  main#Clients .testimonials-section {
    grid-area: 2/1/3/2;
  }
  main#Clients .clients-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main#Contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main#Contact .contactus-section {
    grid-area: 1/1/2/4;
  }
  main#Contact .contact-info-section {
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main#Contact .contact-info-section .info {
    grid-area: 2/1/3/2;
  }
  main#Contact .contact-info-section .social {
    grid-area: 2/2/3/3;
  }
  main#Contact .contact-info-section .testimonial {
    grid-area: 2/3/3/4;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
}

main#home section {
  padding: 8px;
  background-color: var(--fondo-seccion);
  margin-bottom: 24px;
}
main#home section.Banner {
  background-image: url("../../public/media/Content Slider.png");
  background-size: cover;
  background-position: center;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 5px 0 0 5px;
  height: 300px;
}
main#home section.Main {
  border-radius: 0 5px 5px 0;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}
main#home section.Main h1,
main#home section.Main h1 span {
  font-size: 32px;
}
main#home section.Main hr {
  margin: 15px 0;
  width: 100%;
}
main#home section.Main .subtitle {
  font-size: 14px;
  color: var(--gris-1);
}
main#home section.Main p {
  font-size: 12px;
  color: var(--gris-2);
  font-family: "ArialMT", Arial, sans-serif;
}
main#home section button {
  align-self: flex-end;
  margin: auto 8px 8px 0;
  padding: 8px 16px;
  border: 1px solid var(--gris-1);
  background-color: var(--gris-6);
  color: var(--gris-2);
  border-radius: 35px;
}
main#home article.card {
  background-color: var(--fondo-seccion);
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main#home article.card.cardweb {
  margin: 0 3% 0 0;
}
main#home article.card.cardsol {
  margin: 0 3%;
}
main#home article.card.cardtest {
  margin: 0 0 0 3%;
}
main#home article.card h2 {
  font-size: 18px;
  color: var(--gris-3);
  padding: 8px 16px;
  width: 100%;
  background-color: var(--gris-7);
  border-radius: 5px 5px 0 0;
}
main#home article.card img {
  width: 80px;
  height: auto;
  padding: 15px;
  align-self: flex-start;
}
main#home article.card .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0 0;
}
main#home article.card .content h3 {
  margin-bottom: 16px;
}
main#home article.card .content h3 a {
  color: var(--gris-4);
  font-weight: bold;
  font-size: 12px;
}
main#home article.card .content p {
  color: var(--gris-5);
}
main#home article.card .content p .underline {
  color: var(--gris-4);
  text-decoration: underline;
}
main#home article.card .content a.orange {
  margin-top: 25px;
  align-self: flex-end;
}
main#home article.info,
main#home article.form {
  margin-top: 28px;
}
main#home article.info hr,
main#home article.form hr {
  margin: 6px 0;
}
main#home article.info {
  margin-right: 12px;
}
main#home article.info h2 {
  font-size: 24px;
}
main#home article.info p {
  font-family: "ArialMT", Arial, sans-serif;
  line-height: 1.5em;
}
main#home article.form {
  margin-left: 12px;
}
main#home article.form h2 {
  font-size: 24px;
}
main#home article.form p {
  font-family: "ArialMT", Arial, sans-serif;
  line-height: 1.5em;
}
main#home article.form input[type=email] {
  width: 75%;
  padding: 4px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid var(--gris-5);
  border-radius: 4px;
}
main#home article.form input[type=submit] {
  margin: 4px 0 20px 0;
  padding: 4px 16px;
  border: 1px solid var(--gris-1);
  background-color: var(--gris-6);
  color: var(--gris-2);
  border-radius: 20px;
}
main#home article.form hr:last-of-type {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main#home article.card.cardtest {
    margin: 20px 0 0 0;
    width: 97%;
  }
  main#home article.form {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  main#home article.card.cardtest,
  main#home article.card.cardsol {
    margin: 20px 0 0 0;
    width: 97%;
  }
  main#home article.form {
    margin-left: 0;
  }
}
main#Clients {
  background: linear-gradient(var(--fondo-seccion) 85%, var(--color-fondo) 100%);
  padding: 10px 10px 30px 10px;
  border-radius: 5px;
}
main#Clients .clients-section h2 {
  display: flex;
  align-items: center;
}
main#Clients .clients-section h2 img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
main#Clients .clients-section hr {
  margin: 10px 0;
}
main#Clients .clients-section .client-card img {
  padding: 10px;
  background-color: var(--color-fondo);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}
main#Clients .clients-section .client-card a {
  color: var(--gris-2);
  padding: 8px;
  font-size: 14px;
}
main#Clients .clients-section .client-card p {
  color: var(--gris-1);
  padding: 8px;
  font-size: 14px;
  margin-bottom: 30px;
}
main#Clients .testimonials-section h2 {
  display: flex;
  align-items: center;
  height: 50px;
}
main#Clients .testimonials-section hr {
  margin: 0 0 10px 0;
}
main#Clients .testimonials-section p {
  font-family: "ArialMT", Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}
main#Clients .testimonials-section p.author {
  font-weight: bold;
  margin: 5px 0 15px 0;
}

@media screen and (max-width: 768px) {
  .client-card img {
    height: 320px;
  }
}
main#Contact {
  background: linear-gradient(var(--fondo-seccion) 65%, var(--color-fondo) 100%);
  padding: 10px;
  border-radius: 5px;
  height: 750px;
}
main#Contact .contactus-section h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
main#Contact .contactus-section h2 span {
  font-size: 24px;
}
main#Contact .contactus-section h2 img {
  width: auto;
  height: 40px;
}
main#Contact .contactus-section hr {
  margin: 8px 0;
}
main#Contact .contactus-section p {
  font-size: 14px;
  margin-bottom: 15px;
}
main#Contact .contactus-section .form-group {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
main#Contact .contactus-section .form-group label {
  margin: 8px 0 0 8px;
  width: 130px;
  font-family: "ArialMT", Arial, sans-serif;
  font-weight: bold;
  color: var(--gris-2);
  font-size: 14px;
}
main#Contact .contactus-section .form-group input,
main#Contact .contactus-section .form-group textarea {
  padding: 7px;
  border: 1px solid var(--gris-6);
  border-radius: 4px;
  background-color: var(--color-fondo);
  width: 60%;
}
main#Contact .contactus-section .form-group textarea {
  resize: none;
  width: 70%;
}
main#Contact .contactus-section input[type=submit] {
  padding: 4px 16px;
  border: 1px solid var(--gris-1);
  background-color: var(--gris-6);
  color: var(--gris-2);
  border-radius: 20px;
  margin: 0 0 0 140px;
}
main#Contact .contact-info-section h2 {
  display: flex;
  align-items: center;
  height: 48px;
}
main#Contact .contact-info-section hr {
  margin: 0 0 10px 0;
}
main#Contact .contact-info-section .info-block {
  margin-bottom: 20px;
}
main#Contact .contact-info-section .contact-list li {
  margin: 0 0 10px 10px;
}
main#Contact .contact-info-section .social a img {
  margin-right: 30px;
}
main#Contact .contact-info-section .testimonial p {
  font-family: "ArialMT", Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}
main#Contact .contact-info-section .testimonial p.author {
  font-weight: bold;
  margin: 5px 0 15px 0;
}

@media screen and (max-width: 768px) {
  main#Contact .contact-info-section .social a img {
    margin: 5px;
  }
}
html.dark-mode {
  --gris-1: #d4d4d4;
  --gris-2: #BFBFBF;
  --gris-4: #eaeaea;
  --gris-5: #BFBFBF;
  --gris-6: #4a4a4a;
  --gris-7: #ddd;
  --color-fondo: #121212;
  --naranja-1: #ffb347;
  --fondo-seccion: #666666;
}