@charset "UTF-8";
html,
body {
  background-color: #E6E6E5;
}

p,
li,
a,
span {
  color: #9B9B9A;
  font-family: "CenturyGothic", Arial, sans-serif;
  font-size: 12px;
}

.orange {
  color: #EA8A19;
}

h1 {
  color: #353D40;
}

h2,
h3,
h4,
h5,
h6 {
  color: #7D7D7D;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../../public/fonts/century-gothic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
html:
<!--
            <span class="icon-twitter"></span>
            <span class="icon-facebook"></span>
            <span class="icon-linkedin"></span>
-->
@font-face {
  font-family: "fontello";
  src: url('../../public/fonts/fontello.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;


  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;


  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  text-transform: none;
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric 
  /* remove if not needed 
  margin-left: .2em;


  font-size: 120%;

  /* Font smoothing. That was taken from TWBS 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-facebook:before {
  content: '\f30e';
  color: #0000ff;
}

/* '' 
.icon-twitter:before {
  content: '\f314';
  color: #00ffff;
  background-color: #00f;

}

/* '' 
.icon-linkedin:before {
  content: '\f31b';
  color: #0000ff;
}

/* '' */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.footer hr {
  width: 100%;
  margin: 0 auto 20px auto;
}
.footer .navigation.footnav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .navigation.footnav ul li a.active {
  color: #7D7D7D;
  font-weight: bold;
}
.footer .navigation.footnav ul li:not(:last-child)::after {
  content: " | ";
  margin: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 10px;
}
.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .headnav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .headnav ul li a.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdb76f), color-stop(50%, #f89a4e), to(#f17c2e));
  background: linear-gradient(to bottom, #fdb76f 0%, #f89a4e 50%, #f17c2e 100%);
  padding: 10px 24px;
  border-radius: 5px;
  color: #F1F1F1;
  border: 1px solid #666666;
}

#home.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#home.grid .Banner {
  grid-area: 1/1/2/4;
}
#home.grid .Main {
  grid-area: 1/4/2/7;
}
#home.grid .cardweb {
  grid-area: 2/1/3/3;
}
#home.grid .cardsol {
  grid-area: 2/3/3/5;
}
#home.grid .cardtest {
  grid-area: 2/5/3/7;
}
#home.grid .info {
  grid-area: 3/1/4/5;
}
#home.grid .form {
  grid-area: 3/5/4/7;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #home.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
  border: 2px solid #42c474;
}

main#home section {
  padding: 8px;
  background-color: #FFFFFF;
  margin-bottom: 24px;
}
main#home section.Banner {
  background-image: url("../../public/media/Content Slider.png");
  background-size: cover;
  background-position: center;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  -webkit-box-shadow: 1px 1px 10px #9B9B9A;
          box-shadow: 1px 1px 10px #9B9B9A;
  border-radius: 5px 0 0 5px;
  height: 300px;
}
main#home section.Main {
  border-radius: 0 5px 5px 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main#home section.Main h1 {
  font-size: 24px;
}
main#home section.Main h1 span {
  font-size: 18px;
}
main#home section.Main hr {
  margin: 15px 0;
  width: 100%;
}
main#home section.Main .subtitle {
  font-size: 14px;
  color: #9B9B9A;
}
main#home section.Main p {
  font-size: 12px;
  color: #666666;
}
main#home section button:hover {
  background-color: rgb(190.5976095618, 111.0438247012, 17.4023904382);
}
main#home article {
  background-color: #FFFFFF;
  padding: 2px;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */