.feature-card {
    background-color: white;
    border-radius: 5px;
    height: 180px;
    box-sizing: content-box;

    .card-header {
        background: #ebebeb;
        padding: 10px 15px;
        font-size: 18px;
    }

    .feature-content {
        padding: 15px;
        padding-top: 20px;
        font-size: 12px;

        div {
            display: flex;
            gap: 15px;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .read-more-link {
        display: block;
        text-align: right;
        padding: 10px 15px;
        color: #f0a54f;
        text-decoration: none;
    }
}

.feature-card:first-child {
    grid: 2 / 1 / 3 / 2;
}
