nav ul {
    list-style: none;
    display: flex;
}

nav li {
    font:
        400 12px "Arial MT",
        sans-serif;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px 10px;
}

nav a:hover {
    background-color: orange;
    border: 1px solid black;
    border-radius: 3px;
}

.container {
    width: 90%;
}
