@use "../abstracts/variables" as *;

.header {
    display: flex;
}

.banerimg {
    width: 638px;
}

.banner {
    height: 315px;
}

.imgLogo {
    width: 330px;
    height: 39px;
}

.text_banner.canvi_color>p {
    // El > assegura que només s'apliqui als p fills directes
    color: $gris2;
    font-size: $font-size-intermig;
}