@use '../abstracts' as *;

html,
body {
  background-color: $color-fondo;
}

p,
li,
a,
span {
  color: $gris-1;
  font-family: $font-primary;
  font-size: $sizeS;
}

.orange {
  color: $naranja-1;
}



h1 {
  font-family: $font-primary;
  color: $gris-4;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  color: $gris-5;
}