@use "../abstracts/variables" as *;


.general {
    display: grid;
    grid-template-columns: repeat(12, 1fr); // per mes personalització de tamany
    grid-row: repeat(12, 1fr);
    row-gap: 20px;
    column-gap: 0px;
}

.banner {
    grid-area: 1 / 1 / 5 / 7;
    border: 1px black;
}

.text_banner {
    grid-area: 1 / 7 / 5 / 13;
    border: 1px black;

}

// Secció de Cards
.card_disseny {
    grid-area: 5 / 1 / 9 / 5;
    border: 1px black;

}

.card_solucions {
    grid-area: 5 / 5 / 9 / 9;
    border: 1px black;

}

.card_testimonis {
    grid-area: 5 / 9 / 9 / 13;
    border: 1px black;

}

// Secció de Contingut
.text {
    grid-area: 9 / 1 / 13 / 8;
    border: 1px black;

}

.subscripcio {
    grid-area: 9 / 8 / 13 / 13;
    border: 1px black;

}

// Mida Mitjana (Tablet)
@media (max-width: $breakpoint-md) {
    .general {
        gap: 15px;
    }

    .banner {
        grid-area: 1 / 1 / 4 / 13;
    }

    .text_banner {
        grid-area: 4 / 1 / 7 / 13;
    }

    .card_disseny {
        grid-area: 7 / 1 / 10 / 7;
    }

    .card_solucions {
        grid-area: 7 / 7 / 10 / 13;
    }

    .card_testimonis {
        grid-area: 10 / 1 / 13 / 13;
    }

    .text {
        grid-area: 13 / 1 / 16 / 13;
    }

    .subscripcio {
        grid-area: 16 / 1 / 19 / 13;
    }
}

// Mida Petita (Mòbil)
@media (max-width: $breakpoint-sm) {

    .general {
        gap: 10px;
    }

    .banner {
        grid-area: 1 / 1 / 4 / 13;
    }

    .text_banner {
        grid-area: 4 / 1 / 7 / 13;
    }

    .card_disseny {
        grid-area: 7 / 1 / 10 / 13;
    }

    .card_solucions {
        grid-area: 10 / 1 / 13 / 13;
    }

    .card_testimonis {
        grid-area: 13 / 1 / 16 / 13;
    }

    .text {
        grid-area: 16 / 1 / 19 / 13;
    }

    .subscripcio {
        grid-area: 19 / 1 / 22 / 13;
    }
}

//Grid del contact, no fa falta posar el .genera, ja que el html te la mateixa clase
.contact-section {
    grid-area: 1 / 1 / 13 / 13;
    border: 1px black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

// Elements del contact section
.contact-header {
    grid-area: 1 / 1 / 4 / 8;
}

.contact-content {
    grid-area: 4 / 1 / 13 / 8;
}

.contact-sidebar {
    grid-area: 1 / 8 / 13 / 13;
}

@media (max-width: $breakpoint-md) {

    .contact-header {
        grid-area: 1 / 1 / 3 / 13;
    }

    .contact-content {
        grid-area: 3 / 1 / 8 / 13;
    }

    .contact-sidebar {
        grid-area: 8 / 1 / 13 / 13;
    }
}

//grid de Clients
.clients-section {
    grid-area: 1/1/13/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.clients-header {
    grid-area: 1/1/2/8;
}

.card1 {
    grid-area: 3/1/6/4;
}

.card2 {
    grid-area: 3/5/6/8;
}

.card3 {
    grid-area: 7/1/13/4;
}

.card4 {
    grid-area: 7/5/13/8;
}

.testimonials-sidebar {
    grid-area: 1/8/13/13;
}

@media (max-width: $breakpoint-md) {
    .clients-section {
        gap: 15px;
    }

    .clients-header {
        grid-area: 1 / 1 / 2 / 13;
    }

    .card1 {
        grid-area: 2 / 1 / 5 / 7;
    }

    .card2 {
        grid-area: 2 / 7 / 5 / 13;
    }

    .card3 {
        grid-area: 5 / 1 / 8 / 7;
    }

    .card4 {
        grid-area: 5 / 7 / 8 / 13;
    }

    .testimonials-sidebar {
        grid-area: 8 / 1 / 13 / 13;
    }
}

// Mida Petita (Mòbil)
@media (max-width: $breakpoint-sm) {
    .clients-section {
        gap: 10px;
    }

    .clients-header {
        grid-area: 1 / 1 / 2 / 13;
    }

    .card1 {
        grid-area: 2 / 1 / 4 / 13;
    }

    .card2 {
        grid-area: 4 / 1 / 6 / 13;
    }

    .card3 {
        grid-area: 6 / 1 / 8 / 13;
    }

    .card4 {
        grid-area: 8 / 1 / 10 / 13;
    }

    .testimonials-sidebar {
        grid-area: 10 / 1 / 13 / 13;
    }
}