@use '../abstracts' as *;

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;

    hr {
        width: 100%;
        margin: 0 auto 20px auto;
    }

    .navigation.footnav {
        ul {
            list-style: none;
            display: flex;

            li {

                a {
                    font-size: $sizeM;
                }

                a.active {
                    color: var(--gris-5);
                }

                &:not(:last-child)::after {
                    content: " | ";
                    margin: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:$breakpoint-small) {
    .navigation.footnav {
        margin: 0 auto;
    }

    p {
        margin: 20px auto;

    }
}