@use '../abstracts' as *;

#home.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    & .Banner {
        grid-area: 1 / 1 / 2 / 4;
    }

    & .Main {
        grid-area: 1 / 4 / 2 / 7;
    }

    & .cardweb {
        grid-area: 2 / 1 / 3 / 3;
    }

    & .cardsol {
        grid-area: 2 / 3 / 3 / 5;
    }

    & .cardtest {
        grid-area: 2 / 5 / 3 / 7;
    }

    & .info {
        grid-area: 3 / 1 / 4 / 5;
    }

    & .form {
        grid-area: 3 / 5 / 4 / 7;
    }
}

main#Clients {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;

    .clients-section {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .clients-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
    }

    .testimonials-section {
        grid-column: 2;
        grid-row: 1;
    }

}

main#Contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    #home.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .Banner {
            grid-area: 1 / 1 / 2 / 3;
        }

        .Main {
            grid-area: 2 / 1 / 3 / 3;
        }

        .cardweb {
            grid-area: 3 / 1 / 4 / 2;
        }

        .cardsol {
            grid-area: 3 / 2 / 4 / 3;
        }

        .cardtest {
            grid-area: 4 / 1 / 5 / 2;
        }

        .info {
            grid-area: 5 / 1 / 6 / 3;
        }

        .form {
            grid-area: 6 / 1 / 7 / 3;
        }
    }

    main#Clients {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .clients-section {
            grid-area: 1 / 1 / 2 / 2;
        }

        .testimonials-section {
            grid-area: 2 / 1 / 3 / 2;
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    #home.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .Banner {
            grid-area: 1 / 1 / 2 / 2;
        }

        .Main {
            grid-area: 2 / 1 / 3 / 2;
        }

        .cardweb {
            grid-area: 3 / 1 / 4 / 2;
        }

        .cardsol {
            grid-area: 4 / 1 / 5 / 2;
        }

        .cardtest {
            grid-area: 5 / 1 / 6 / 2;
        }

        .info {
            grid-area: 6 / 1 / 7 / 2;
        }

        .form {
            grid-area: 7 / 1 / 8 / 2;
        }
    }

    main#Clients {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .clients-section {
            grid-area: 1 / 1 / 2 / 2;
        }

        .testimonials-section {
            grid-area: 2 / 1 / 3 / 2;
        }

        .clients-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
    }

    main#Contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .contactus-section {
            grid-area: 1 / 1 / 2 / 4;
        }

        .contact-info-section {
            display: grid;
            column-gap: 20px;

            .info {
                grid-area: 2 / 1 / 3 / 2;
            }

            .social {
                grid-area: 2 / 2 / 3 / 3;
            }

            .testimonial {
                grid-area: 2 / 3 / 3 / 4;
            }
        }
    }
}