@use '../abstracts' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headnav {
        ul {
            list-style: none;
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: space-between;

            li a {
                font-size: $sizeM;
                color: var(--gris-2);
            }

            li a.active {
                background: linear-gradient(to bottom, #fdb76f 0%, #f89a4e 50%, #f17c2e 100%);
                padding: 10px 24px;
                border-radius: 5px;
                color: #FFF;
                border: 1px solid var(--gris-2);
            }
        }
    }
}

/* Elementos invisibles por defecto */
.menu-toggle-checkbox {
    display: none;
}

.menu-toggle-label {
    display: none;
}

.menu-overlay {
    display: none;
}



@media screen and (max-width: $breakpoint-medium) {
    .header {
        position: relative;

        .navigation.headnav {
            position: fixed;
            top: 0;
            right: -100%; //Para que no se vea si no esta "Activo"
            width: 200px;
            height: 100%;
            background: linear-gradient(var(--fondo-seccion) 15%, var(--color-fondo) 100%);
            padding: 80px 0 20px;
            flex-direction: column;
            border-left: 1px solid var(--gris-4);

            #CambioTema {
                margin: 0 auto;
                padding: 15px;

            }
        }

        .headnav ul {
            position: relative;
            flex-direction: column;
            gap: 0;
            width: 100%;



            li {
                width: 80%;
                border-bottom: 1px solid var(--gris-4);

                a {
                    display: block;
                    padding: 18px 30px;

                    &.active {
                        background: linear-gradient(to right, #fdb76f, #f17c2e);
                        border-radius: 0;
                        border: none;
                        padding: 18px 30px;
                    }
                }
            }
        }
    }

    //Menu hamburguesa
    .menu-toggle-label {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;

        z-index: 1002;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background: var(--gris-4);
            margin: 6px auto;
            border-radius: 2px;
        }
    }

    // Mostrar menú cuando el checkbox está marcado
    .menu-toggle-checkbox:checked~.navigation.headnav {
        right: 0;
    }




}