@use '../abstracts' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headnav {
        ul {
            list-style: none;
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: space-between;

            li a.active {
                background: linear-gradient(to bottom, #fdb76f 0%, #f89a4e 50%, #f17c2e 100%);
                padding: 10px 24px;
                border-radius: 5px;
                color: #F1F1F1;
                border: 1px solid $gris-2;
            }
        }
    }
}