.read {
    float: right;
    font-family: 'ArialMT';
    font-size: var(--font-xs);
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    border: 1px solid var(--colorD8);
    margin-top: 30px;
}

.subs {
    padding: 5px 25px 5px 25px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid var(--colorD8);
    font-family: 'ArialMT';
    font-size: var(--font-xs);
}

.homeUp {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'ArialMT';
    font-size: var(--font-sm);
    color: var(--font-color);
    background-color: var(--primary-color);
}