@use "../abstracts/variables" as *;



.banerimg {
    width: 638px;
    object-fit: cover;
    object-position: center;
}


.banner {
    width: 100%;
    min-height: 315px;
    height: auto;
    max-height: 450px;
    overflow: hidden;
    margin-bottom: $spacing-lg;
    margin-right: 0px;
    border-radius: 10px 0 0 10px; // només esquerra
}


.text_banner {
    min-height: 315px;
    height: auto;
    max-height: 450px;
    background-color: $color-primary;
    padding: $spacing-md;
    border-radius: 0 10px 10px 0; // dreta arrodonida
    margin-bottom: $spacing-md;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.text_banner h1 {
    font-family: $font-secundary;
    font-size: $font-titul3;
    color: $titul2-color;
    line-height: 1;
}

.text_banner h3 {
    font-family: $font-secundary;
    font-size: $font-size-intermig;
    color: $gris2;

}

.text_banner hr {
    width: 100%;
}

.text_banner p {
    font-family: $font-primary;
    color: $text-color;
    font-size: $font-size-base;
    margin: 0 0 $spacing-md 0;
    line-height: 1.6;
}

.text_banner .btn {
    background-color: $grisboto;
    color: $gris6;
    border: none;
    padding: $spacing-xs $spacing-md;
    border-radius: 34px;
    font-size: $font-size-base;
    font-family: $font-primary;
    cursor: pointer;
    align-self: flex-end;
}

@media (max-width: $breakpoint-sm) {
    .baner {
        border-radius: 10px;
        min-height: auto;
    }

    .text_banner {
        border-radius: 10px;
        min-height: auto;
    }
}