.grid {
    display: grid;
    grid-template-rows: auto auto auto auto; /* Cambia de repeat(4, 1fr) a auto */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 24px;
}

.grid-client {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.grid-client-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 24px;
    padding: 10px;
}

.grid-contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}