@use "../abstracts/variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 29px;
}

#header-nav {
    .container {
        display: flex;
        gap: 15px;

        li {
            &:first-child button {
                background: #f0a54f;
                border: none;
                padding: 5px 15px;
                border-radius: 3px;

                a {
                    color: white;
                }
            }
        }
    }
}
