@use '../abstracts' as *;

main#home {

    section {
        padding: 8px;
        background-color: #FFFFFF;
        margin-bottom: 24px;

        &.Banner {
            background-image: url('../../public/media/Content Slider.png');
            background-size: cover;
            background-position: center;
            background-position: top left;
            background-repeat: no-repeat;
            width: 100%;
            box-shadow: 1px 1px 10px $gris-1;
            border-radius: 5px 0 0 5px;
            height: 300px;

        }

        &.Main {
            border-radius: 0 5px 5px 0;
            box-sizing: content-box;
            display: flex;
            flex-direction: column;


            h1,
            h1 span {
                font-size: $sizeXL;


            }

            hr {
                margin: 15px 0;
                width: 100%;

            }

            .subtitle {
                font-size: $sizeM;
                color: $gris-1;
            }

            p {
                font-size: $sizeS;
                color: $gris-2;
                font-family: $font-arialMT;
            }


        }

        button {
            align-self: flex-end;
            margin: auto 8px 8px 0;
            padding: 8px 16px;
            border: 1px solid $gris-1;
            background-color: $gris-6;
            color: $gris-2;
            border-radius: 35px;
        }
    }

    article {
        background-color: #FFFFFF;
        padding: 2px;
        border-radius: 5px;

    }
}