@use "../abstracts/variables" as *;
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    font-family: $arial-font;
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

.container {
    width: 90%;
}
