//Colors
$color-primary: #ffff;
$color-secundary: #f3b167;
$background-color: #e5e5e5;
$text-color: #9a9b9c;
$taronja: #ec8a1b;
$titul2-color: #363d40;
$dark: #000000;
$gris2: #bcbcbc;
$gris3: #7e7e7e;
$gris4: #9a9b9c;
$gris5: #ebebeb;
$gris6: #787878;
$grisboto: #dfdfdf;
$grislinea: #ececec;
$negre2: #666565;
$gris7: #eeefef;

//Tipografia
$font-primary: 'ArialMT', sans-serif;
$font-secundary: "Century Gothic";

$font-size-base: 12px;
$font-titul-card: 13px;
$font-size-intermig: 14px;
$font-titul: 20px;
$font-titul2: 22px;
$font-titul3: 27px;
$line-height-base: 1;

//Espaiat(per  definir i mantenir mides consistent per a marges)
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 15px;
$spacing-mx: 25px;
$spacing-lg: 40px;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-xl: 1240px;


$dark-bg: #1a1a1a;
$dark-card-bg: #2d2d2d;
$dark-text: #e0e0e0;
$dark-border: #404040;