.light-mode {
    background-color: rgb(229, 229, 229);

    * {
        transition: ease-in-out 0.3s;
    }

    body {
        background-color: rgb(229, 229, 229);
    }

    .hero,
    .feature-card {
        background-color: white;
    }

    .card-header {
        background-color: #ebebeb;
        color: #333;
    }

    color: #333;

    .bold {
        color: black;
    }

    .text-standart-color,
    .grey-text,
    .hero-text {
        color: #9a9b9c;
    }

    nav a {
        color: #333;
    }

    #header-nav .container li:first-child button {
        background: #f0a54f;
    }

    #header-nav .container li:first-child button a {
        color: white;
    }

    input[type="email"] {
        background-color: white;
        color: #333;
        border-color: #ddd;
    }

    a {
        color: #333;
    }

    .read-more-link {
        color: #f0a54f;
    }

    .orange {
        color: #f1a958;
    }

    hr {
        border-color: #e0e1e1;
    }
}
