@use "../abstracts/variables" as *;

body {
    background-color: rgb(229, 229, 229);
    max-width: 1240px;
    padding: 42px;
    padding-top: 20px;
    box-sizing: content-box;
    margin: 0 auto;
    justify-items: center;
}

.bold {
    font-weight: bold;
    color: black;
}

.century {
    font-family: $century-font;
}

.arial {
    font-family: $arial-font;
}

.text-standart-color {
    color: $text-color-standart;
}
