// style.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../bootstrap-5.3.8/scss/functions";
@import "../../bootstrap-5.3.8/scss/variables";
@import "../../bootstrap-5.3.8/scss/maps";
@import "../../bootstrap-5.3.8/scss/mixins";
@import "../../bootstrap-5.3.8/scss/utilities";
// Layout & components
@import "../../bootstrap-5.3.8/scss/root";
@import "../../bootstrap-5.3.8/scss/reboot";
@import "../../bootstrap-5.3.8/scss/type";
@import "../../bootstrap-5.3.8/scss/images";
@import "../../bootstrap-5.3.8/scss/containers";
@import "../../bootstrap-5.3.8/scss/grid";
@import "../../bootstrap-5.3.8/scss/tables";
@import "../../bootstrap-5.3.8/scss/forms";
@import "../../bootstrap-5.3.8/scss/buttons";
@import "../../bootstrap-5.3.8/scss/transitions";
@import "../../bootstrap-5.3.8/scss/dropdown";
@import "../../bootstrap-5.3.8/scss/button-group";
@import "../../bootstrap-5.3.8/scss/nav";
@import "../../bootstrap-5.3.8/scss/navbar";
@import "../../bootstrap-5.3.8/scss/card";
@import "../../bootstrap-5.3.8/scss/accordion";
@import "../../bootstrap-5.3.8/scss/breadcrumb";
@import "../../bootstrap-5.3.8/scss/pagination";
@import "../../bootstrap-5.3.8/scss/badge";
@import "../../bootstrap-5.3.8/scss/alert";
@import "../../bootstrap-5.3.8/scss/progress";
@import "../../bootstrap-5.3.8/scss/list-group";
@import "../../bootstrap-5.3.8/scss/close";
@import "../../bootstrap-5.3.8/scss/toasts";
@import "../../bootstrap-5.3.8/scss/modal";
@import "../../bootstrap-5.3.8/scss/tooltip";
@import "../../bootstrap-5.3.8/scss/popover";
@import "../../bootstrap-5.3.8/scss/carousel";
@import "../../bootstrap-5.3.8/scss/spinners";
@import "../../bootstrap-5.3.8/scss/offcanvas";
@import "../../bootstrap-5.3.8/scss/placeholders";

// Helpers
@import "../../bootstrap-5.3.8/scss/helpers";

// Utilities
@import "../../bootstrap-5.3.8/scss/utilities/api";
//@import "../../bootstrap-5.3.8/scss/bootstrap";

// 4. Include any default map overrides here

// 5. Include remainder of required parts


// 6. Optionally include any other parts as needed


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

// 8. Add additional custom code here