@use "../abstracts/variables" as *;
#hero-image {
    width: 100%;
}

.hero {
    grid-area: 1 / 1 / 2 / 4;
    background-color: $card-backgound;
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    padding-left: 5px;
}

h1 {
    padding-top: 5px;
}

.orange {
    color: #f1a958;
}

hr {
    color: #e0e1e1;
}

.hero-text {
    color: $text-color-standart;
}

.hero-img {
    flex: 1 1 50%;

    & img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.hero-content {
    flex: 1 1 50%;
    margin-right: 10px;
    min-width: 250px;
}

.hero-content button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.grey-text {
    color: #9a9b9c;
}

.features {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 24px;
}

.card-header {
    padding: 15px;
    background-color: #ebebeb;
}

.feature-card {
    background-color: white;
}

.info-subscribe {
    grid-area: 3 / 1 / 4 / 3;
}

.mida12 {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .features {
        display: flex;
        flex-wrap: wrap;

        .feature-card {
            width: 100%;
        }
    }

    .info-subscribe {
        width: 100%;
        grid-area: 3 / 1 / 4 / 4;
    }

    .subscribe {
        grid-area: 4 / 1 / 5 / 4;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .social {
            grid-area: 2 / 2 / 3 / 3;
            align-self: baseline;
            justify-self: left;
        }

        form {
            grid-area: 1 / 1 / 3 / 2;
        }
    }
}
